/* CarDetails.css */
.car-card {
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;

}
#booknow {
  background-color: #0d6efd;
  border: none;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

#booknow:hover {
  background-color: #0b5ed7;
}

button.btn-outline-primary {
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
}

button.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: white;
}

.info-card {
  background: white;
  border-radius: 1rem;
}

textarea.form-control {
  border-radius: 8px;
  resize: none;
  transition: border-color 0.3s;
}

textarea.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.star-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.star-rating svg {
  transition: color 0.3s ease, transform 0.2s ease;
}

.star-rating svg:hover {
  transform: scale(1.2);
}

.review-avatar {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  margin-right: 1rem;
}

.card-body .review-content {
  flex: 1;
}

.custom-nav-tabs .nav-link {
  color: #0d6efd;
  font-weight: 600;
  border: none;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease;
}

.custom-nav-tabs .nav-link.active {
  border-bottom: 3px solid #0d6efd;
  color: #0a58ca;
  font-weight: 700;
}

.modal-content {
  border-radius: 12px;
}

.modal-title {
  font-weight: 600;
}

.modal-body p {
  margin-bottom: 1rem;
}

.car-image {
  height: 350px !important;
  width: 350px;
  object-fit: cover;
    border-radius: 5px;
}

.car-description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 1rem;
}

.info-row {
  display: flex;
}

.info-label {
  min-width: 140px;
  font-weight: 600;
  color: #222;
}

.info-value {
  color: #333;
}

.car-model-brand {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 120px;
}



@media (max-width: 767.98px) {
 .car-model-brand {
  display: flex;
  align-items: center;
  margin-left: 160px;
}


.car-image {
  width: 200px;
  height: 200px;
  margin-left: 100px;
}
 
}
